dd_pat: "{{ secrets.DATADOG_KEY }}"
metric_prefix: "{{ apymon_env }}"
network: "{{ apymon_env }}"
interval_poll: 15
endpoints:
  - url: "http://{{ apymon_env }}-{{ group_name }}:3030/{{ apymon_env }}/peers/count"
    metric_name: "nodes"
  - url: "http://{{ apymon_env }}-{{ group_name }}:3030/{{ apymon_env }}/block/height/latest"
    metric_name: "block_height"
  - url: "http://{{ apymon_env }}-{{ group_name }}:3030/{{ apymon_env }}/block/latest"
    metric_name: "coinbase_target"
    path: "header.metadata.coinbase_target"
  - url: "http://{{ apymon_env }}-{{ group_name }}:3030/{{ apymon_env }}/committee/latest"
    metric_name: "committee.starting_round"
    path: "starting_round"
  - url: "http://{{ apymon_env }}-{{ group_name }}:3030/{{ apymon_env }}/committee/latest"
    metric_name: "committee.total_stake"
    path: "total_stake"
  - url: "http://{{ apymon_env }}-{{ group_name }}:3030/{{ apymon_env }}/committee/latest"
    metric_name: "committee.members.length"
    path: "members"
    op: "count"
  - url: "http://{{ apymon_env }}:9000"
    metric_name: "prometheus"
