[Unit]
Description=Aleo {{ apymon_env }}-{{ group_name }}
After=docker.service
Requires=docker.service

[Service]
RemainAfterExit=yes
WorkingDirectory=/aleo/
EnvironmentFile=/aleo/.env
ExecStartPre=/usr/bin/curl -X POST -H 'Content-type: application/json' --data "{\"text\":\"%H {{ config.ENVIRONMENT }} {{ group_name }} started! \"}" https://hooks.slack.com/services/${SLACK_TEAM_ID}/${SLACK_WEBHOOK_ID}/${SLACK_WEBHOOK_TOKEN}
ExecStart=/usr/bin/docker compose up --build -d
ExecStartPost=/bin/sleep 3
ExecStop=/usr/bin/docker compose down
ExecStopPost=/usr/bin/curl -X POST -H 'Content-type: application/json' --data "{\"text\":\"%H {{ config.ENVIRONMENT }} {{ group_name }} stopped.\"}" https://hooks.slack.com/services/${SLACK_TEAM_ID}/${SLACK_WEBHOOK_ID}/${SLACK_WEBHOOK_TOKEN}
RestartSec=5s
Restart=always

[Install]
WantedBy=multi-user.target